<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body class="text-center">
<section class="container mt-5 rounded w-25" style="background-color: #eee; height: 300px;">
    <form class="form-signin pt-5">
        <div class="pt-5">
            <h2>Вход на сайт</h2>
            <a type="submit" href="/main" class="btn btn-primary my-2">Insert</a>
        </div>
    </form>
</section>

<!--<div th:insert="blocks/footer :: footer"></div>-->
</body>
</html>